@import '../../styles/main';

.statistics__block {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .statistics__block-info  {
        display: flex;
        width: 50%;
        gap: 32px;
        flex-wrap: wrap;

        .statistics__single {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: calc(50% - 32px);
            gap: 8px;
            padding: 30px;
            border: 1px solid $main-text;
            box-shadow: 4px 4px 0px 0px $main-text;
            transition: .3s;

            h3, p {

            font-size: 32px;
            font-family: $family-lato-bold;
            }
        }

        .statistics__single:hover {
            box-shadow: none;
        }
    }
    .statistics__block-text {
        width: 50%;
        h2 {
            @include h4-bold;
            margin-bottom: 32px;
        }

        div{
            margin-top: 32px;
            h3 {
                font-size: 18px;
                font-family: $family-lato-bold;
            }
            p {
                font-size: 12px;
            }
        }
    }
}

