@import '../../styles/main';

.footer {
    background-color: $second-background;
    flex-direction: column;
    padding-bottom: 90px;

    .footer__info {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #000;
        margin-top: 50px;
        position: relative;

        .promo {
            rotate: 270deg;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 0%;
            transform: translate(0%, 50%);
            
            
            h3 {
                font-size: 20px;

                a {
                    font-size: 20px;
                    transition: .3s;
                }

                a:hover {
                    color: #fff;
                }
            }
        }

        .footer__info-text {
            width: 60%;

            h2 {
                text-transform: capitalize;
                margin-bottom: 32px;
            }

            p {
                font-size: 18px;
            }
        }

        .footer__info-contacts {
            width: 30%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            div {
                display: flex;
                width: 100%;

                a {
                    font-family: $family-lato-bold;
                    font-size: 18px;
                    margin-left: 16px;
                }

            }

            .support {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70%;
                padding: 16px 32px;
                background-color: $main-text;
                color: #fff;
                transition: .3s;
                box-shadow: 4px 4px 0px 0px #fff;
                text-transform: capitalize;

            }

            .support:hover {
                box-shadow: none;
            }
        }

    }

    .footer__info-social {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0;

        div {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 10px;
        }

        div:nth-of-type(2),
        div:nth-of-type(3) {
            width: 33%;

            a {
                transition: .3s;
                display: flex;
            }

            a:hover {
                color: #fff;
            }
        }

        div:nth-of-type(3) {
            justify-content: end;
        }
    }
}